<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h1>{{title}}</h1>
<nav>
<a routerLink="/dashboard">Dashboard</a>
<a routerLink="/accountclosing/list">Accountclosing List</a>
<a routerLink="/catastrophetype/list">Catastrophetype List</a>
<a routerLink="/claim/list">Claim List</a>
<a routerLink="/policy/list">Policy List</a>
<a routerLink="/policytype/list">Policytype List</a>
<a routerLink="/policystatus/list">Policystatus List</a>
<a routerLink="/premiumtype/list">Premiumtype List</a>
<a routerLink="/periodtype/list">Periodtype List</a>
<a routerLink="/currency/list">Currency List</a>
<a routerLink="/ledger/list">Ledger List</a>
<a routerLink="/debitnote/list">Debitnote List</a>
<a routerLink="/contact/list">Contact List</a>
<a routerLink="/policysplit/list">Policysplit List</a>
<a routerLink="/splittype/list">Splittype List</a>
<a routerLink="/policycondition/list">Policycondition List</a>
<a routerLink="/vehiclemake/list">Vehiclemake List</a>
<a routerLink="/claimcondition/list">Claimcondition List</a>
<a routerLink="/payment/list">Payment List</a>
<a routerLink="/statement/list">Statement List</a>
<a routerLink="/statementdebitnote/list">Statementdebitnote List</a>
<a routerLink="/relation/list">Relation List</a>
<a routerLink="/transaction/list">Transaction List</a>
<a routerLink="/policyri/list">Policyri List</a>
<a routerLink="/claimstatustype/list">Claimstatustype List</a>
<a routerLink="/claimreservehistory/list">Claimreservehistory List</a>
<a routerLink="/commodity/list">Commodity List</a>
<a routerLink="/contactproduct/list">Contactproduct List</a>
<a routerLink="/conveyancetype/list">Conveyancetype List</a>
<a routerLink="/correspondence/list">Correspondence List</a>
<a routerLink="/country/list">Country List</a>
<a routerLink="/formattype/list">Formattype List</a>
<a routerLink="/goodscondition/list">Goodscondition List</a>
<a routerLink="/namedcondition/list">Namedcondition List</a>
<a routerLink="/number/list">Number List</a>
<a routerLink="/regletter/list">Regletter List</a>
<a routerLink="/reportoption/list">Reportoption List</a>
<a routerLink="/statspremiumtype/list">Statspremiumtype List</a>
<a routerLink="/statsyear/list">Statsyear List</a>
<a routerLink="/substitutioncode/list">Substitutioncode List</a>
<a routerLink="/voyage/list">Voyage List</a>
<a routerLink="/voyagetype/list">Voyagetype List</a>
</nav>
<router-outlet></router-outlet>
