.form-container {display: flex; align-content: flex-start;}

.form-container > * {padding-right: 8px;}

.form-container #country-id {width: 3rem;}

.mat-table {overflow: auto; max-height: 50rem;}

.mat-header-cell.mat-sort-header-sorted {color: black;}

.mat-header-row {min-height: 1.5rem;}

.mat-header-cell {font-size: 10px;}

.mat-row {min-height: 1.3rem;}

.material-icons {font-size: 20px;}

.mat-icon-button {width: 1.5rem; height: 1.5rem; line-height: 1.5rem;}

/* .small-checkbox {height: 15px; width: 15px;} */

.mat-column-id {flex: 0.6;}

.mat-column-description {flex: 3.0;}

.mat-column-portonly {flex: 0.6;}

.mat-column-wsexcluded {flex: 0.6;}

.mat-column-actions {flex: 0.4;}

/* .mat-cell {display: flex;} */

/* .mat-cell .mat-checkbox {justify-content: flex-end;} */

/* .mat-checkbox {margin: 0 auto;} */

/* .mat-cell .button {margin: 0 auto;} */

/* .mat-table .mat-paginator-container {justify-content: flex-start;} */
