${!types.meta.templates.includes("list") ? "" : `<h2>${types.meta.label} List</h2>

<div class="form-container">
  <a class="actions" color="primary" aria-label="Add a new record" matTooltip="Add a new record" matTooltipPosition="above" routerLink="/${types.name.toLowerCase()}/"><mat-icon>add</mat-icon>Add</a>
</div>

<mat-table #${types.name}Table [dataSource]="dataSource" matSort>
  ${types.fields.filter(f => isField(f) && f.meta.templates.includes("list")).map(fields => `  <ng-container matColumnDef="${fields.name}">
    <mat-header-cell *matHeaderCellDef mat-sort-header>${fields.meta.label}</mat-header-cell>
    <mat-cell *matCellDef="let ${types.name.toLowerCase()}">
    ${isType(fields, "Boolean") ? `<mat-checkbox [disabled]="true" [ngModel]="${types.name.toLowerCase()}.${fields.name}"></mat-checkbox>` : `{{${types.name.toLowerCase()}.${fields.name}}}`}
    </mat-cell>
  </ng-container>
`).join("\n")}

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goto(row.nodeId)"></mat-row>
</mat-table>

<mat-paginator #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20, 40, 80]"
  [showFirstLastButtons]="true">
</mat-paginator>`}