:root { font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
.big-center { text-align: center; margin: 4rem 2rem; font-size: 2rem; }
.table-header { display: flex; align-items: center; justify-content: space-between; }
.confirmation-content i { padding-right: 1rem; }
.confirmation-content span { line-height: 2; vertical-align: top; }
.p-error { color: red; }
.p-float-label .p-checkbox + label { left: 1.5rem; }
.p-datatable-resizable .p-datatable-thead > tr > th { white-space: inherit; }
.p-datatable-resizable .p-datatable-tbody > tr > td { max-width: 20rem; white-space: nowrap; }
.p-datatable-resizable .p-datatable-tbody > tr > td a {display: table; height: 100%; width: 100%;}
.p-accordion .p-accordion-content { padding: 0; }
.p-menubar li.p-menuitem:hover .p-submenu-list { display: block; } /* fix for submenus in PrimeVue v3.3.5 */
div.p-field.p-invalid > span.p-float-label > span.p-inputwrapper > input { background-image: linear-gradient(to bottom, #B00020, #B00020), linear-gradient(to bottom, #B00020, #B00020); }
div.p-field.p-invalid > span.p-float-label > label { color: #B00020; }
div.p-dialog.p-component {  width: 95%; max-width: 800px; }

@media screen and (min-width: 500px) { /* reduce menubar breakpoint */
  .p-menubar .p-menubar-button { display: none; }
  .p-menubar .p-menubar-root-list { position: relative; display: flex; padding: 0; background: none; }
  .p-menubar .p-menubar-root-list .p-menuitem .p-menuitem-link { border-radius: 4px!important; }
  .p-menubar .p-menubar-root-list > .p-menuitem { width: auto; position: static; }
  .p-menubar .p-submenu-list { width: 12.5rem!important; position: absolute!important; z-index: 1; }
}

/* Make more compact/dense */
.op-compact .p-mr-2 { margin: 0 0.1rem!important; }
.op-compact .p-m-0 { margin: 0 0.1rem; }
.op-compact .p-datatable-header,
.op-compact .p-datatable-thead > tr > th,
.op-compact .p-datatable-tbody > tr > td,
.op-compact .p-paginator,
.op-compact .p-toolbar,
.op-compact .header-button-group .p-inputtext { padding: 0.2rem; }
.op-compact .header-button-group .p-input-icon-left > .p-inputtext { padding-left: 2rem; }
.op-compact .p-paginator .p-select { height: 2rem; }
.op-compact .p-paginator .p-select-label { padding-top: 0.4rem; }
.op-compact .p-paginator-pages .p-paginator-page,
.op-compact .p-paginator-first,
.op-compact .p-paginator-prev,
.op-compact .p-paginator-next,
.op-compact .p-paginator-last,
.op-compact .p-paginator-current { min-width: 2.5rem; }
.op-compact .p-datatable-thead > tr > th { white-space: normal!important; font-size: 80%; }
.op-compact .p-button { padding: 0.2rem; }
.op-compact .p-button.p-button-icon-only { height: 1.7rem!important; width: 1.7rem; }
.op-compact .p-input-icon-left > i:first-of-type { position: relative; left: 1.5rem; }
.op-compact .p-hidden-accessible { width: 1px; overflow: hidden; }
.op-compact .p-menubar-submenu .p-menubar-item { padding: 0.3rem; }
.op-compact .p-menubar-submenu .p-menuitem-icon { padding-right: 0.3rem; }
.op-compact .p-menubar-item .p-menuitem-link { text-decoration: none; color: inherit; }
.op-compact .p-inputwrapper .p-variant-filled { padding-top: 18px; padding-bottom: 4px; }
