<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h1>{{title}}</h1>
<nav>
<a routerLink="/dashboard">Dashboard</a>
{{#each types}}{{#if (isEntity)}}<a routerLink="/{{toLowerCase name}}/list">{{name}} List</a>
{{/if}}{{/each}}</nav>
<router-outlet></router-outlet>
